.main__container{
    width: 80vw;
}
.button__container{
    width: 100%;
}
.main__container .button:last-child{
    border-radius: 0px 10px 10px 0px;
}
.main__container .button:first-child{
    border-radius: 10px 0px 0px 10px;
}
.button{
    width: 25%;
    border: 1px solid white;
    outline: none;
    text-transform: uppercase;
    background: transparent;
    color: white;
    cursor: pointer;
    height: 60px;
    font-size: larger;
    font-weight: 500;
}
.button:hover{
    background-color: white;
    color:rgb(33,38,56);
    transition: all 0.3s ease-in-out;
}
