body {
  background-color: #212638;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}
h1{
  font-size: 56px;
}
p,label{
  font-size: larger;
}

@media (max-width:768px){
  body{
    overflow: scroll;
  }
}
@media (max-width:400px){
  body{
    margin-left: 15vw;
  }
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body::-webkit-scrollba{
  background-color:#212638;
  width:16px;
}
body::-webkit-scrollbar-track{
  background-color:#212638;
}
body::-webkit-scrollbar-thumb{
  background-color:#babac0;
  border-radius:8px;
  border:4px solid #212638;
}